# The two-letter country code

The code was adapted from this [medium article](https://medium.com/analytics-vidhya/how-to-web-scrape-tables-online-using-python-and-beautifulsoup-36d5bafeb982)

In [3]:
import re
from bs4 import BeautifulSoup
import time
import requests
#from selenium import webdriver
#from selenium.webdriver.chrome.options import Options
import pandas as pd

In [5]:
url = 'https://laendercode.net/en/2-letter-list.html'
page = requests.get(url)

In [ ]:
page.text

In [17]:
soup = BeautifulSoup(page.text, 'lxml')

In [18]:
results = soup.find('table', class_='table table-colored table-hover')

In [22]:
headers = []
for th in results.find_all('th'):
    headers.append(th.text)
    
headers

['ISO 3166 ALPHA-2', 'Country']

In [21]:
results.find('td')

In [26]:
for tr in results.find_all('tr')[1:]:
    print(tr.text)
    break

 AF Afghanistan

In [28]:
tr.text.split()

['AF', 'Afghanistan']

In [47]:
data = {key : [] for key in headers}

In [48]:
data

{'ISO 3166 ALPHA-2': [], 'Country': []}

In [49]:
for tr in results.find_all('tr')[1:]:
    #print(tr.text)
    row = tr.text.split()
    data['ISO 3166 ALPHA-2'].append(row[0])
    data['Country'].append(' '.join(row[1:]))
    
    
#data

In [50]:
df = pd.DataFrame.from_dict(data)

In [51]:
df.head()

  ISO 3166 ALPHA-2         Country
0               AF     Afghanistan
1               AX   Aland Islands
2               AL         Albania
3               DZ         Algeria
4               AS  American Samoa

In [52]:
df.to_csv('data/two_letter_country_code.csv')